{
  "presets": [
    ["@babel/preset-env", {
      "modules": false,
      "loose": true,
      "bugfixes": true
    }],
    ["@babel/preset-react", {
      "runtime": "automatic"
    }]
  ],
  "env": {
    "production": {
      "plugins": [
        "transform-react-remove-prop-types"
      ]
    }
  }
}
