body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
  margin: 20px;
  padding: 0;

  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

p {
  margin: 0;
}

h1, h2, h3 {
  margin: 0;
  font-weight: 600;
}

h2 {
  text-align: center;
}

h3 {
  font-weight: 400;
}
